body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } 
  .calculator { 
    border-radius: 10px;
    padding: 5px;
    width: 280px;
    background-color: rgba(84, 84, 84, 0.81);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    height: 405px;
  }
  .display-area {
    display: inline-block;
    width: 93%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .display-area input[type="text"] {
    width: 93%;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px; 
    font-size: 40px;
    border: none;
    outline: none;
    
  }
  .display-area .output {
    text-align: left;
     padding-left: 5px;
  }
  .button .key{
    color: rgb(6, 216, 216);
  }
  .button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
.button button {
    width: 100%;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button .equalSign{
  background-color:rgb(6, 216, 216);
  color:#fff;
  border-radius: 10px;
}