body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .calculator { 
    width: 330px;
    height: 507px;
    border-radius: 10px;
    padding: 4px;
    background-color: wheat;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .display-area {
    height: 100px;
    display: grid;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .display-area input[type="text"] {
    border: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .display-area .output {
    text-align: right;
    padding-right:10px;
  }
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
.button button {
    width: 100%;
    padding: 15px 25px 15px 25px;
    font-size: 17px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button .key{
  background-color: whitesmoke;
}
.button button:hover {
    background-color: whitesmoke;
}
.button button i {
    margin-right: 5px;
}
.menu{ 
    width: 25px;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    z-index: 3;
}
.calculator .dropdown{
    display: none;
    background-color: wheat;
    width: 150px;
    height: 507px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -255px 0px 0px -166px;
    align-items: center;
    justify-content: center;
    overflow: hidden;  
    z-index: 2;
    animation: dropdownAnimation .1s ease-in-out forwards;
  }
  @keyframes dropdownAnimation {
0% {
    width: 110px; 
}
100% {
     width: 200px;
}
}
.dropdown_content{
   display: grid;
   row-gap: 2px;
   padding-top: 40px;      
}
.dropdown_content h4{
    font-size: medium;
    margin:10px 0px 7px 3px;
}
.dropdown_content button{
   font-size: 15px;
   text-align: left;
   cursor: pointer;
   padding: 6px;
   border: none; 
   background-color: transparent;
}.dropdown_content button:hover{
    border-color: whitesmoke;
    background-color: whitesmoke;   
}
.dropdown_content i{
     padding-right:10px;
}
.display-area_for_content{
    display: none;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    width: 280px;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    padding: 3px;
    z-index: 1;
    background-color: wheat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    animation: fadIn 0.5s ease-in-out;
}
@keyframes fadIn {
      0% {
       opacity: 0; 
      }
      100% {
        opacity: 1; 
      }  
}
.mode{
    display: none;
}
.mode img{
    width: 90px;
    height: 60px;
}
.mode .classic,.expression{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.mode .expression{
    background-color: lightgray;
}
.mode p{
    border-bottom: 1px solid;
    font-size: 12px;
    margin-top: -10px;
}
:is(.classic,.expression) p{
    border-bottom:none;
     
}
.setup{
text-align: right;
padding: 15px 8px;
}
.setup button{
    color:dodgerblue;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.Theme {
    display: none;
    width: 100%;
    overflow: hidden;
}.Theme h4{
    font-size: medium;
    padding-left: 5px;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width:100% ;
    height: 300px;
}
.slides img{
width: 100%;
height: 97%;
}
.dots {
    text-align: center;
}
.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot.active {
    background-color: green;
}
.History{
    display: none;
    background-color: white;
    width: 330px;
    height: 100%;
    padding-bottom: 4px;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;  
    animation: dropdown 1s ease-in-out forwards;
}
@keyframes dropdown {
0% {
      height: 0;  
}
100% {
      height: 503px; 
}
}
.History h5{
    padding: 20px 0px 0px 15px;
}
.History span{
    font-size: small;
}
.History .lists{
    overflow: auto;
    height: 400px;
}
.History .lists::-webkit-scrollbar {
    display: none;
  }
.History .list{
    text-align: right;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: .5px solid lightgray;
     
}
.fa-arrow-left{
    padding-right: 7px;
    cursor: pointer;
}